# Estadisticas descriptivas
### Christopher Evans A01742073 ITC

En este trabajo vamos a estar analizando un set de datos acerca de la diabetes, Esta data list incluye las variables de embarazos, glucosa, presión arterial, Grosor de piel, Insulina, IMC, Función de pedigrí de Diabetes, Edad y Resultado.

Dentro de este trabajo se va a estar detallando algunos puntos clave de nuestro data en general y se va a crear un data list nuevo con solo las variables de Grosor de piel, Insulina, IMC y Resultado y analisando las caracteristicas que tiene el nuevo data set.

In [8]:
#importa librerías
import pandas as pd
df=pd.read_csv("diabetes.csv")

# Descripción de Variables

Descripcion general de data set

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [2]:
df.nunique()

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

Después de nuestro análisis general, este trabajo va a estar utilizando las siguientes variables como análisis

Skin Thickness Cuantitativa Continua


Insulin Cuantitativa Continua


BMI Cuantitativa Continua

Outcome Categorica Nominal

In [17]:
vars_interes = ['SkinThickness', 'Insulin', 'BMI','Outcome']
df_selected = df[vars_interes]
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SkinThickness  768 non-null    int64
 1   Insulin        768 non-null    int64
 2   BMI            768 non-null    float64
 3   Outcome        768 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 24.1 KB

In [26]:
df_selected.describe()

       SkinThickness     Insulin         BMI     Outcome
count     768.000000  768.000000  768.000000  768.000000
mean       20.536458   79.799479   31.992578    0.348958
std        15.952218  115.244002    7.884160    0.476951
min         0.000000    0.000000    0.000000    0.000000
25%         0.000000    0.000000   27.300000    0.000000
50%        23.000000   30.500000   32.000000    0.000000
75%        32.000000  127.250000   36.600000    1.000000
max        99.000000  846.000000   67.100000    1.000000

In [24]:
for col in vars_interes:
    minimo = df_selected[col].min()
    maximo = df_selected[col].max()
    rango = maximo - minimo
    print(col, "Min:", minimo, "Max", maximo, "Rango", rango)

SkinThickness Min: 0 Max 99 Rango 99
Insulin Min: 0 Max 846 Rango 846
BMI Min: 0.0 Max 67.1 Rango 67.1
Outcome Min: 0 Max 1 Rango 1

In [25]:
# Estadísticas descriptivas
estadisticas = df_selected.describe()

# Desviación estándar
desviacion_std = df_selected.std()

# Mostrar resultados
print("Estadísticas Descriptivas:")
print(estadisticas)
print("Desviación estándar:")
print(desviacion_std)

Estadísticas Descriptivas:
       SkinThickness     Insulin         BMI     Outcome
count     768.000000  768.000000  768.000000  768.000000
mean       20.536458   79.799479   31.992578    0.348958
std        15.952218  115.244002    7.884160    0.476951
min         0.000000    0.000000    0.000000    0.000000
25%         0.000000    0.000000   27.300000    0.000000
50%        23.000000   30.500000   32.000000    0.000000
75%        32.000000  127.250000   36.600000    1.000000
max        99.000000  846.000000   67.100000    1.000000
Desviación estándar:
SkinThickness     15.952218
Insulin          115.244002
BMI                7.884160
Outcome            0.476951
dtype: float64

Grosor del pliegue cutáneo:
Se puede observar que la media y mediana son bastante cercanas, sugiriendo que la distribución de los datos es bastante simétrica. Dicho lo anterior, tenemos mínimos y máximos muy extremos, indicando que tenemos datos erróneos o sin tratar.

Nivel de insulina
Podemos observar una desviación estándar grande que nos indica una dispersión en los datos significativa. Esto combinado con una media y mediana muy diferentes, nos indica una distribución con sesgo a la derecha.

Índice de Masa Corporal:
La media y la mediana son muy similares indicando una distribución simétrica, vemos que el valor medio de los datos es 32 mostrando que la mayoría de individuos son personas con sobrepeso posiblemente indicando un prejuicio natural sobre nuestros otros datos, notamos un mínimo de 0 que no es posible en la escala de índice de masa corporal indicando error en nuestros datos.

# Consultas

In [27]:
personas_bmi_mayor_25 = df[df['BMI'] > 25].shape[0]
print(f"Personas con BMI > 25: {personas_bmi_mayor_25}")

Personas con BMI > 25: 645